* {
    margin: 0px;
    padding: 0px;
}


input {
    height: 50px;
    background-color: rgb(151, 151, 151);
    color: white;
}

#m {
    display: block;
}

#trainer-button {
    margin-top: 100px;
    height: 100px;
    width: 100px;
    font-size: large;
    font-weight: bolder;
    background-color: rgb(151, 151, 151);
}

a {
    color: white;
    font-size: larger;
}

body {
    background-color: gray;
}
button {
    background-color: rgb(151, 151, 151);
}